* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #839e71;
  padding: 20px;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  height: calc(33.333% - 10px);
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.87);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  background:  #4d4831;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  
}

.start{
  margin-top: 20px;
  margin-left: 80px;;
}

button{
  padding: 20px;
  font-size: 30px;
  color: white;
  font-family: 'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(211, 83, 60);
  border-radius: 25px;
  border: 2px solid rgb(218, 111, 111);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(64, 23, 10, 0.35) 0px -2px 6px 0px inset;
  
}
@media (max-width: 600px) {
  .memory-game {
    width: 540px;
    height: 540px;
    margin-top: 125px;
    margin-left: -346px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;

  }
     
    .start{
      width: 340px;
      height: 40px;
      margin-top: 20px;
     padding-left: 20px;
     margin-right: 26px;;
    }
  button{
    font-size: 15px;
  }
   
}
